body {
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.highlight {
    box-shadow: 0 0 20px #ef3019;
}
#wrapper {
    display: flex;
}
.left-bar {
    flex: 0 0 100px;
    right: 0;
    top: 0;
    height: 100vh;
}
.left-bar .navbar {
    height: 100vh;
}
.right-bar {
    flex: 0 0 280px;
    height: 100vh;
    width: 280px;
}
.video-frame {
    margin-top: -80px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff no-repeat center center fixed;
    background-image: radial-gradient(circle at 50% 50%, #cdd1cd, #fff);
}
.video-frame video{
    flex: 1 0 30%;
    margin: 2px;
}
.participate-frame {
    padding-right: 20px;
    background-color: rgba(0, 0, 0, .3);
    transition: max-width  .8s;
}

.participate-frame .collapse-button {
    transform: rotate(90deg);
    margin-left: -45px;
    padding-top: 0;
    padding-bottom: 0;
}
.participate-frame button {
    margin-left: 5px;
    margin-right: 5px;
}
.participate-frame .chat-container {
    padding-right: 30px;
}
.participates {
    position: relative;
    height: 300px;
    overflow: auto;
}
.chat-container {
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer
}
.chat-container .header {
    position: relative;
    height: 30px;
    padding: 2px;
    text-align: center;
}
.chat-container .messages{
    position: relative;
    height: 230px;
    padding: 5px;
    overflow: auto;
    border-bottom: 2px solid #4f81e8;
}
.chat-container textarea {
    font-style: italic;
}
.participate-frame .participates {
    text-align: right;
    font-size: 15pt;
    padding-right: 15px;
}
.message {
    list-style-type: none;
    margin: 1px;
    width: 80%;
}
.message .date {
    font-size: 8pt;
    text-align: right;
}
.message .user {
    font-size: 12pt;
    font-weight: bold;
    text-align: right;
}
.message .text {
    text-align: right;
    font-style: italic;
}
.own-message {
    background-color: #314048;
}
.add-message {
    padding-left: 5px;
    padding-right: 5px;
    color: #4f81e8;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer .control-bar {
    padding: 8px !important;
    margin: 0;
}
footer .btn {
    margin: 0;
}
.bootbox .bootbox-body {
    text-align: center;
    padding-top: 20px;
    font-size: 12pt;
}
body > .alert {
    position: absolute;
    width: 50%;
    left: 50%;
    display: none;
    margin-left: -25%;
    z-index: 100;
    text-align: center;
}
.collapse {
    height: auto;
    width: auto;
}
.collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}
.collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
.collapse.in.width {
    width: auto;
}
.collapse.in.height {
    height: auto;
}