html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.highlight {
    box-shadow: 0 0 20px #ef3019;
}
.right-bar {
    width: 340px;
    min-height: 100%;
}
button span {
    margin-top: -15px;
}
video {
    transform: scale(-1,1);
}
#wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}
header .navbar-nav {
    display: flex;
    justify-content: center;
    width: 95%;
}
.well {
    margin: 0 !important;
}
.navbar {
    margin: 0;
}
header .btn {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
}
.video-frame {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-flow: wrap row;
    height: 99.9%;
    min-width: 54%;
    overflow-y: auto;
    background: #ffffff no-repeat center center fixed;
    background-image: radial-gradient(circle at 50% 50%, #cdd1cd, #fff);
    transition: width 1s;
}
.video-frame video{
    flex: 1;
    min-width: 30%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transform: scale(-1,1);
}
.local-video-stream {
    width: 80%;
    float: right;
}
.participate-frame {
    padding-right: 20px;
    background-color: rgba(0, 0, 0, .3);
    transition: display  .8s;
}

@media screen and (max-width: 800px) {
    .participates-amount,
    .frame-content .join,
    .frame-content .leave {
        padding: 0;
    }
    .participates {
        font-size: 15px !important;
        padding-right: 0 !important;
    }

}
.frame-content .join, .frame-content .leave  {
    width: 35%;
}
.participate-frame button {
    margin-left: 5px;
    margin-right: 5px;
}
.participate-frame .chat-container {
    padding-right: 30px;
}
.participates {
    position: relative;
    height: 300px;
    overflow: auto;
}
.participates > li {
    padding-right: 0 !important;
}
.chat-container {
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 300px;
    height: 400px;
    display: none;
    cursor: pointer
}
.chat-container .header {
    position: relative;
    height: 30px;
    padding: 2px;
    text-align: center;
}
.chat-container .messages{
    position: relative;
    height: 230px;
    padding: 5px;
    overflow: auto;
    border-bottom: 2px solid #4f81e8;
}
.chat-container textarea {
    font-style: italic;
}
.participate-frame .participates {
    text-align: right;
    font-size: 15pt;
    padding-right: 15px;
}
.message {
    list-style-type: none;
    margin: 1px;
    width: 80%;
}
.message .date {
    font-size: 8pt;
    text-align: right;
}
.message .user {
    font-size: 12pt;
    font-weight: bold;
    text-align: right;
}
.message .text {
    text-align: right;
    font-style: italic;
}
.own-message {
    background-color: #314048;
}
.add-message {
    padding-left: 5px;
    padding-right: 5px;
    color: #4f81e8;
}
footer .control-bar {
    padding: 8px !important;
    margin: 0;
}
footer .btn {
    margin: 0;
}
.bootbox .bootbox-body {
    text-align: center;
    padding-top: 20px;
    font-size: 12pt;
}
body > .alert {
    position: absolute;
    width: 50%;
    left: 50%;
    display: none;
    margin-left: -25%;
    z-index: 100;
    text-align: center;
}
#search-result {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 100;
    border: 2px solid #ccc;
    background-color: #fff;
}

#search-result .list-group-item {
    padding: 10px;
    font-size: 15px;
}

