<main id="wrapper">
    <div class="video-frame">
        <video id="local-stream" class="local-video-stream" width="640" height="480"></video>
    </div>
    <div class="participate-frame">
        <button class="btn btn-primary right start-video">Join</button>
        <a class="leave btn btn-material-red right" href="/logout">Leave</a>
        <button class="btn participates-amount right" type="button">
            Participates <span class="badge">0</span>
        </button>
        <div class="clear"></div>
        <ul class="list-group participates"></ul>
    </div>
</main>