<main id="wrapper">
    <div class="video-frame">
        <video id="local-stream" class="local-video-stream" width="640" height="480"></video>
    </div>
    <div class="participate-frame">
        <a class="leave btn btn-material-red" href="/logout">Leave</a>
        <button class="btn audio-off"><i class="glyphicon glyphicon-volume-off"></i></button>
        <button class="btn audio-on" style="display: none;"><i class="glyphicon glyphicon-volume-up"></i></button>
        <button class="btn btn-primary left start-video">Join</button>
        <button class="btn participates-amount right" type="button">
            Participates <span class="badge">0</span>
        </button>
        <div class="clear"></div>
        <ul class="list-group participates"></ul>
    </div>
</main>