<footer>
    <img src="../static/images/webrtc-logo.png" alt="logo" width="40">
    <button class="btn right show-chat"><i class="glyphicon glyphicon-pencil"></i></button>
    <button data-toggle="modal" data-target="#send-offer" class="btn right show-send-offer">
        <i class="glyphicon glyphicon-envelope"></i>
    </button>
    <button id="copy-link" class="btn right" data-clipboard-text="">
        <i class="glyphicon glyphicon glyphicon-floppy-save"></i>
    </button>
    <button id="size_big" class="btn right"><i class="glyphicon glyphicon-fullscreen" title="600x410"></i></button>
    <button id="size_middle" class="btn right"><i class="glyphicon glyphicon-resize-full" title="320x220"></i></button>
    <button id="size_small" class="btn right"><i class="glyphicon glyphicon-resize-small" title="150x150"></i></button>
</footer>