<aside class="participate-frame well col-xs-6 col-md-4 right-bar">
    <button type="button" class="btn btn-default left collapse-button">
        <i class="mdi-image-dehaze"></i>
    </button>
    <div class="clear"></div>
    <div class="frame-content">
        <a class="leave btn btn-raised btn-danger right" href="/logout">Leave</a>
        <button class="btn btn-raised btn-success right join">Join</button>
        <button class="btn participates-amount right" type="button">
            Participates <span class="badge">0</span>
        </button>
        <div class="clear"></div>
        <ul class="list-group participates"></ul>
    </div>
</aside>