<div class="participate-frame well right-bar">
    <video id="local-stream" class="local-video-stream"></video>
    <div class="clear"></div>
    <div class="frame-content">
        <a class="leave btn btn-raised btn-danger right  logout" href="/logout">
            <i class="mdi-communication-call-end"></i>
        </a>
        <button class="btn btn-raised btn-success right join">
            <i class="mdi-communication-call"></i>
        </button>
        <div class="clear"></div>
        <button class="btn participates-amount right" type="button">
            In room<span class="badge">0</span>
        </button>
        <div class="clear"></div>
        <ul class="list-group participates"></ul>
    </div>
</div>