<script type="text/javascript" src="/js/lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script type="text/javascript" src="/js/lib/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<script type="text/javascript" src="/js/lib/EventEmitter.js"></script>
<script type="text/javascript" src='/js/Utils/Adapter.js'></script>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/js/Utils/Communicator.js"></script>
<script type="text/javascript" src="/js/Utils/PeerConnection.js"></script>