<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/js/lib/bower_components/bootstrap-material-design/dist/css/material.css">
    <link rel="stylesheet" href="/js/lib/bower_components/bootstrap-material-design/dist/css/material-wfont.css">
    <link rel="stylesheet" href="/js/lib/bower_components/bootstrap-material-design/dist/css/ripples.css">
    <link rel="stylesheet" href="/style/index.css">
    <script type="text/javascript" src="/js/lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lib/bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script type="text/javascript" src="/js/lib/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
</head>
<body>
<%- include('templates/alerts.html') %>
<header></header>
<main>
    <div class="row quick-start">
        <h1>
            Welcome to Let's talk service
        </h1>
        <h4>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#login">Sign in</a>
            please or if you don't have account <a href="javascript:void(0);" data-toggle="modal" data-target="#registration">sign up</a>
            and have own room or you cant just enter room name and start quick meeting without any registration
        </h4>
        <div class="col-lg-12 input-wrapper">
            <div class="input-group">
                <input type="text" class="form-control floating-label" id="room-id" placeholder="room id">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="create-room" type="button">Create room</button>
                    </span>
            </div>
        </div>
    </div>
</main>
<%- include('templates/modals/login-modal.html') %>
<%- include('templates/modals/registration-modal.html') %>
<footer></footer>
<script type="text/javascript" src="/js/widgets/AlertWidget.js"></script>
<script type="text/javascript" src="/js/auth.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.material.init();
    });
</script>
</body>
</html>
