<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <%- include('templates/styles.html') %>
</head>
<body>
<%- include('templates/header.html') %>
<main id="wrapper">
    <div class="video-frame">
        <video class="local-video-stream"></video>
    </div>
    <div class="participate-frame">
        <button class="btn btn-primary left start-video">Join</button>
        <button class="btn participates-amount right" type="button">
            Participates <span class="badge">0</span>
        </button>
        <div class="clear"></div>
        <ul class="list-group participates"></ul>
        <div class="chat-container">
            <ul class="messages"></ul>
            <label for="message-text">Write message</label>
            <textarea class="form-control" rows="3" id="message-text"></textarea>
        </div>
    </div>
</main>
<%- include('templates/footer.html') %>
<%- include('templates/scripts.html') %>
<script type="text/javascript">
    (function () {
        var selectors = {
            participatesAmount: '.participates-amount .badge',
            participates: '.participates',
            removeStreamContainer: '.video-frame',
            localStream: '.local-video-stream',
            startVideo: '.start-video',
            messagesContainer: '.messages',
            message: '#message-text'
        };
        var peerConnections = {};
        var globalCommunicator = Communicator.getCommunicator('');
        var localPeer = null;
        var User = null;

        function getLocalVideoStream() {
            var ice = {
                iceServers: [
                    {url: "stun:global.stun.twilio.com:3478?transport=udp" },
                    {url: 'stun:stun.anyfirewall.com:3478' },
                    {url: 'turn:homeo@turn.bistri.com:80'}
                ]
            };
            localPeer = new RTCPeerConnection(ice);

            getUserMedia({video: true, audio: true}, function (stream) {
                localPeer.addStream(stream);
                var video = $(selectors.localStream);
                video.attr('src', window.URL.createObjectURL(stream));
                video.get(0).play();
                globalCommunicator.emit('participants');
            }, function (error) {
                console.log(error);
            });
        }

        function createConnection(communicator, id) {
            var peer = new PeerConnection(communicator).init( localPeer.getLocalStreams()[0] );

            peer.on('got remote stream', function (event) {
                var video = $('<video></video>');
                var currentPeer = peer;

                video.attr('id', id);
                video.attr("src", window.URL.createObjectURL(event.stream));
                $(selectors.removeStreamContainer).append(video);
                video.get(0).play();
            });

            window.addEventListener('unload', peer.stop);

            return peer;
        }

        function onConnect() {
            var username = new Date().valueOf().toString();

            globalCommunicator.emit('add user', username);
        }

        function added(id) {
            User = id;
            getLocalVideoStream();
        }

        function addParticipant(id) {
            var communicator = Communicator.getCommunicator(id);

            communicator.on('connect', function () {
                var participantId = id.split('==')[1];
                var peer = createConnection(communicator, participantId);
                peerConnections[participantId] = peer;
            });
            communicator.on('remove stream', removeParticipant);
        }

        function attachParticipantEventHandler() {

        }

        function createPeers(room, user) {
            room.forEach(function (participant) {
                createChannel(participant.id, user);
            });
        }

        function createChannel(participant, user) {
            user = typeof User === 'object' ? User.id : user;
            var channelId = [user, participant].join('==');
            globalCommunicator.emit('create channel', channelId);
        }

        function updateList(room) {
            $(selectors.participates).empty();
            $(selectors.participatesAmount).text(room.length);
            room.forEach(function (user) {
                var participateItem = $('<li></li>');

                participateItem.addClass(user.id).addClass('list-group-item').text(user.name);
                $(selectors.participates).append(participateItem);
            });
        }

        function removeParticipant(id) {
            var peer = peerConnections[id];

            if (peer) {
                peer.stop();
                $('#' + id).remove();
            }
            delete peerConnections[id];
        }

        function showMessage(message) {
            var messageEl = $('<li class="message"><div class="user"></div><div class="text"></div></li>');
            messageEl.find('.user').text(message.user.name);
            messageEl.find('.text').text(message.text);
            $(selectors.messagesContainer).append(messageEl);
        }

        globalCommunicator.on('connect', onConnect);
        globalCommunicator.on('added', added);
        globalCommunicator.on('participants', createPeers);
        globalCommunicator.on('update room', updateList);
        globalCommunicator.on('channel created', addParticipant);
        globalCommunicator.on('new user', createChannel);
        globalCommunicator.on('message', showMessage);

        $(selectors.startVideo).on('click', function () {
            for (var peer in peerConnections) {
                if (peerConnections.hasOwnProperty(peer)) {
                    peerConnections[peer].offer();
                }
            }
        });

        $(selectors.message).on('keypress', function(e) {
            var $el = $(e.target);
            var text = $el.val();
            var message = { text: text, user: User };

            if (e.keyCode === 13) {
                globalCommunicator.send(message);
                showMessage(message);
                $el.val('');
            }
        });

    })();
</script>
</body>
</html>