<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Meeting Room</title>
    <%- include('templates/styles.html') %>
</head>
<body>
<%- include('templates/alerts.html') %>
<%- include('templates/header.html') %>
<main id="wrapper">
    <%- include('templates/body.html') %>
    <%- include('templates/rightBar.html') %>
</main>
<%- include('templates/modals/send-offer-modal.html') %>
<%- include('templates/modals/message-modal.html') %>
<%- include('templates/modals/constraints-modal.html') %>
<%- include('templates/scripts.html') %>
</body>
</html>