<div  id="constraints" class="modal fade" tabindex="-1" aria-labelledby="constraintsModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close constraints-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Constraints</h4>
            </div>
            <div class="modal-body" style="padding-top: 30px">
                <form id="constraints-form" class="form-inline">
                    <div class="form-group">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" id="video-constraints" name="video" checked> Video
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" id="audio-constraints" name="audio" checked> Audio
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" id="screen-constraints" name="screen" checked> Screen
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-fab btn-fab-mini btn-raised btn-material-lightyellow constraints-close" data-dismiss="modal"><i class="mdi-content-reply"></i></button>
                <button class="btn btn-fab btn-fab-mini btn-raised btn-sm btn-success constraints-submit"><i class="mdi-navigation-check"></i></button>
            </div>
        </div>
    </div>
</div>