<div class="chat-container panel panel-info">
    <div class="panel-heading header">
        <span class="panel-title">Chat</span>
    </div>
    <div class="panel-body" style="padding: 0">
        <ul class="messages"></ul>
        <div class="add-message">
            <label for="message-text">Write message</label>
            <textarea class="form-control" rows="3" id="message-text"></textarea>
            <input type="file" style="padding: 0; margin-top: 5px"
                   data-toggle="tooltip" data-placement="top" title="" data-original-title="Send file"
                   data-toggle="modal" class="btn send-file">
            <div class="progress progress-striped active" style="visibility: hidden">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
        </div>
    </div>
</div>